@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,100;1,300&display=swap');

:root {
    --book-color: #451a03;
    --book-shadow: #451a036c;
    --text-color: #fffbeb;
    --icon-size: 1.8em;
    --border-radius: 5px;

    font-family: "Lato", sans-serif, system-ui;
}

body {
    background-color: #fffbeb;
    padding: calc(8px + 2vw);
}

.icon {
    height: var(--icon-size);
    width: var(--icon-size);
}

div.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

div.book, div.add-book {
    aspect-ratio: 2/3;
    background-color: var(--book-color);
    color: var(--text-color);
    padding: 15px;
    border-radius: var(--border-radius);
    box-shadow: 4px 4px 20px var(--book-shadow);
}

div.book {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    justify-items: center;
    align-items: center;
    transition-duration: 0.2s;

    &:hover {
        transform: translateY(-5px);
        transition-duration: 0.2s;
    }

    div.book-info {
        grid-column: 1 / -1;

        span#title.value {
            font-size: 2em;
            font-weight: 700;
        }
    
        span#author.value {
            font-size: 1.5em;
        }
    
        span#year.value {
            font-size: 1em;
        }

        > * {
            display: block;
            margin: 5px 0;
            text-align: center;
        }
    }

    span#read.value {
        justify-self: start;
    }

    img.minus-icon {
        justify-self: end;
        transition-duration: 0.2s;
    
        &:hover {
            transform: scale(1.1);
            transition-duration: 0.2s;
            cursor: pointer;
        }

        &:active {
            transform: scale(0.5);
            transition-duration: 0.2s;
        }
    }
}

div.add-book {
    background-color: #fbbf24;
    color: var(--book-color);
    font-weight: 700;

    ul, li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    label, input, button {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;

        font-family: inherit;
        font-weight: inherit;
    }
    label {
        font-size: 0.7em;
        text-transform: uppercase;
    }
    input {
        margin: 0.2em 0;
        border: 1px solid var(--book-color);
        height: 25px;
        font-size: 1.2em;
        background: none;
    }
    input:focus {
        outline: none;
        border-color: var(--text-color);
    }
    input[type="checkbox"] {
        width: auto;
        height: auto;
    }
    button {
        border: none;
        background-color: var(--book-color);
        color: var(--text-color);
        height: 30px;
        padding: 5px 10px;
        text-transform: uppercase;
        border-radius: var(--border-radius);
        transition: 0.2s;

        &:hover {
            transform: scale(1.05);
            transition: 0.2s;
        }
    }
}
